/*#F5F5DC*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: var(--cl-font-family,"Lexend Deca",sans-serif);
  background-color: #ddeddd;
}

.one p{
  display: flex;
  justify-content: center;
  padding: 5% 15%;
  font-size: 1.1rem;
  line-height: 1.8;
  color: #34495e;
  text-align: justify;
}

.one a{
  text-decoration: none;
  font-size: 90%;
  color: black;
}

#banner{
  height: 30%;
  width: auto;
}
h1{
  padding: 3%;
  margin-top: 50px;
  font-family: Roboto, sans-serif;
  border-bottom: black 1px solid;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  color: #2c3e50;
}
#menuButton {
  position: fixed;
  top: 20px;
  left: 50px;
  z-index: 2;
  cursor: pointer;
}


#menuButton span {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
}

.menu {
  position: fixed;
  top: 55px;
  left: 50px;
  background-color: #344e41;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;
  width: 200px;
  z-index: 1;
}

.menu.open {
  max-height: 500px;
}

.menu a {
  display: block;
  color: #dad7cd;
  text-decoration: none;
  padding: 10px;
  font-size: 16px;
}

.menu a:hover {
  background-color: #3a5a40;
}


.kopce {
  font-size: 24px;
  font-weight: bold;
  text-align: right;
  padding: 10px;
  cursor: pointer;
}


#menuButton.hidden {
  display: none;
}

@media screen and (max-height: 450px) {
  .menu {padding-top: 15px;}
  .menu a {font-size: 18px;}
}

#intro{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  margin-bottom: 2%;
  margin-right: 2%;

}

#gif img{
  width: 600px;
  border-radius: 20px;
}

#text p{
  font-size: 1.1rem;
  line-height: 1.8;
  color: #34495e;
  padding: 0 10%;
  text-align: justify;
}

#video{
  margin-top: 15px;
  margin-left: 80px;
  margin-right: 10px;
  height: auto;
}

iframe{
  border-radius: 10px;
  border: none;
}

@media (max-width: 800px) {
  #intro, .posebno{
    flex-direction: column;
  }
}

.posebno{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 10%;
}

.posebno img{
  width: 15%;
}

.text{
  font-size: 100%;
  padding-left: 2%;
}

#ch1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 0 25%;
}

@media (max-width: 768px) {
  #ch1 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  #ch1 {
    grid-template-columns: 1fr;
  }
}

.element-img {
  cursor: pointer;
  width:100%;
  height: auto;
  transition: transform 0.3s;
}

.element-img:hover {
  transform: scale(1.05);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F5F5DC;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-align: justify;
  max-width: 90%;
  width: 700px;
  max-height: 90%;
  overflow-y: auto;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #344e41;
  font-weight: bold;
}

.close-button:hover {
  color: #000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

a:visited, a:link{
  text-decoration: none;
}

#ch2{
  margin: 0 5%;
  padding-top: 2%;
}


.reaction {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 110%;
  width: 100%;
  padding: 2% 2%;
  border-bottom: black solid 1px;
}

.reaction img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

@media (max-width: 768px) {
  .reaction img {
    max-width: 100%;
    height: auto;
  }

  .reaction {
    flex-direction: column;
  }
}


.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 20%;
}

.top-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.bottom-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.check-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.check-button:hover {
  background-color: #45a049;
}

.reaction-message {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #d9534f;
}

.chemicallab h2{
  padding-top: 3%;
  font-size: 160%;
  color: #344e41;
  text-align: center;
}

.chemicallab p{
  padding: 3% 7% 0 7%;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.8;
}

@keyframes pour {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

.poured {
  animation: pour 0.5s forwards;
}

.text2{
  text-align: justify;
  padding-right: 2%;
  font-size: 1.1rem;
  line-height: 1.8;
}

.quiz{
  width: 840px;
  margin: auto;
  background: #F5F5DC;
  color: #344e41;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:20px;
  border-radius: 10px;
  padding: 35px 45px;
  margin-bottom: 3%;
  transition: margin-left 0.3s ease;
}

.side-menu-open .quiz {
  margin-left: 250px;
}

.quiz h2{
  font-size: 43px;
  font-weight: 500;
  border-bottom: 2px solid black;
}

.quiz h3{
  font-size: 27px;
  font-weight: 400;
  color: black;
}

.quiz ul li{
  display: flex;
  align-items: center;
  height: 70px;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px black solid;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 20px;
  color: black;

}

.quiz button{
  margin: auto;
  width: 250px;
  height: 65px;
  font-size: 25px;
  font-weight: 500;
  color: #F5F5DC;
  background: #344e41;
  border-radius: 10px;
  cursor: pointer;
}

.tochno{
  background: lightgreen;
}

.greshno{
  background: #fc9292;
}

#sledno{
  text-align: justify;
  padding: 1% 3%;
  font-size: 1.1rem;
  line-height: 1.8;
}

#sledno li {
  text-align: justify;
  padding: 0 7%;
  list-style-position: inside;
  font-size: 1rem;
  line-height: 1.8;
}

#videoItekst{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

#memory {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-bottom: 5%;
}

#memory h2{
  margin-bottom: 20px;
  text-align: center;
  padding-top: 1%;
  color: #344e41;
}

.container {
  background: #DBF0D0;
  width: 750px;
  height: 650px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;

}

.card {
  background: #F5F5DC;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  transform: rotateY(180deg);
  animation: 2s hideCard linear;
  transition: transform 0.5s;
}

.card.active {
  transform: rotateY(0);
}

.card img {
  max-width: 80%;
  max-height: 80%;
  transform: scale(0);
  animation: 2s hideImage linear;
  transition: transform 0.5s;
  border-radius: 20px;
}

.card.active img {
  transform: scale(1);
}

@keyframes hideCard {
  0%,70%{
    transform: rotateY(0);
  }
  100%{
    transform: rotateY(
    180deg
    );
  }
}

@keyframes hideImage {
  0%,70%{
    transform: scale(1);
  }
  100%{
    transform: scale(0);
  }
}

.vrz {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: white;
  font-size: 2rem;
  text-align: center;
}

.vrz button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #F5F5DC;
  background-color: #344e41;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.vrz button:hover {
  background-color: #2a3f34;
}


.skrieno {
  display: none;
}

#gornomeni{
  background-color: #ddeddd;
  width: 100%;
  height: 60px;
  top:0;
  position: fixed;
}

.menistuff{
  display: flex;
  justify-content: flex-end;
  margin: 20px 100px;
}
.vnatre{
  padding: 0 10px;
  font-size: 20px;
  color: black;
  font-weight: bold;
}

.vnatre a:visited,.vnatre a{
  text-decoration: none;
  color: black;
}

.vnatre a:hover{
  background: white;
}

.modal_form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-form-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 30%;
  text-align: center;
  position: relative;

}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  color: black;
}

.form p{
  padding: 20px;
  font-size: 1.2rem;
}

.form button{
  padding: 10px;
  border-radius: 5px;
  background: #344e41;
  color: white;
  cursor: pointer;
}

.form div{
  margin-top: 20px;

}

.form input{
  padding: 5px;
  height: 23%;
  width: 53%;
}
